.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: 600;
    color: rgb(40, 39, 39)
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.5;
}

.md-nav {
    font-size: 0.63rem;
}

.md-nav__title {
    text-transform: uppercase;
}

.md-content {
    background-color: #ffffff;
    box-shadow: var(--devsite-page-box-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    border-radius: 5px;
    margin-bottom: 1rem;
}

.md-main {
    background-color: #e8eaed;
}

.md-header {
    background-color: #2385c7;
}

.md-footer-meta {
    display: none;
}

.md-nav__item .md-nav__link--active {
    font-weight: 600;
}

body {
    color: rgb(71, 70, 69)
}